!!! 5
html
  head
    title= pageName
    link(rel="stylesheet", href="bower_components/material-design-lite/not_conn_style.css")
  body
    main
      h1 Athene CMS
      hr
      h2 Соединение с MySQL не удалось. Включите сервер MySQL или проверьте его подключение.